[Unit]
Description=eos-log-monitor

[Service]
User=eos
ExecStart=/path/eos-toolkit/log_monitor/eos_log_monitor.py
Restart=always

[Install]
WantedBy=multi-user.target